 
    <div class="row">
        <div class="col-lg-3"> 
            <div class="thumbnail">
              <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=" alt="...">
              <div class="caption">
                <h3>{{user.username}}</h3>
                <p> <i class="glyphicon glyphicon-envelope"></i> {{user.email}}</p>
               </div>
            </div> 
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div style="margin:30px 0; border : 1px solid #ccc; padding : 10px;">
                        <textarea ng-model="newPost.body" class="form-control" placeholder="What's on your Mind"></textarea><br>
                        <button ng-click="addPost();" type="button" class="btn btn-success">Envoyer</button> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- List posts -->
                    <div class="article row" ng-repeat="post in posts | reverse">
                        <div class="col-lg-1"> 
                            <img class="img-responsive" alt="avatar" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                        </div>
                        <div class="col-lg-11">
                            <div><span class="author">{{post.user.username}}</span> : <time>{{post.timestamp | date:"dd/MM/yyyy @ hh:mm:ss a"}}</time>  </div>
                            <div>{{post.body}}</div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div> 
